@use '../../../variables' as *;

.modal-overlay {
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    max-width: calc(100% - 100px);
    max-height: calc(100% - 150px);
    background-color: $bg-secondary-dark;
    border: 1px solid $bg-primary-light;
    border-radius: 12px;
    padding: 16px 24px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .modal-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
      h4 {
        font-size: 24px;
      }
      svg {
        width: 24px;
        height: 24px;
        stroke: $bg-primary-light;
      }
      .close-modal {
        margin-top: -8px;
        margin-right: -16px;
      }
    }
    .new-collection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      input {
        height: 40px;
        width: calc(100% - 48px);
        padding: 8px 12px;
        border-radius: 8px;
        color: $text-primary-dark;
        background-color: $bg-primary-dark;
        outline: none;
        border: none;
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(52,52,52,1);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(52,52,52,1);
        box-shadow: inset 0px 0px 5px 0px rgba(52,52,52,1);
        font-size: 16px;
      }
      input:focus {
        border: 2px solid #555;
      }
    }
  }
  svg {
    width: 32px;
    height: 32px;
    stroke: $bg-primary-light;
  }
}