@use '../../../variables' as *;

.button {
  min-width: 20px;
  min-height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  svg {
    fill: $bg-primary-dark;
    stroke: $text-primary-dark;
  }
}

.add-button, .delete-button {
  .add {
    width: 100%;
    height: 90px;
    path, circle {
      stroke: $text-primary-dark;
    }
  }
}

button:hover {
  svg {
    fill: $bg-secondary-dark;
  }
}

@media (prefers-color-scheme: light) {
  .button {
    svg {
      path, circle {
        stroke: $text-primary-light;
      }
      fill: $bg-primary-light;
      stroke: $text-primary-light;
    }
  }

  .add-button {
    .add {
      path, circle {
        stroke: $text-primary-light;
      }
    }
  }

  button:hover {
    svg {
      fill: $bg-secondary-light;
    }
  }
}