@use '../../../variables' as *;

.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0;
}

.button .empty {
  background-color: transparent;
}

.button .primary {
  background-color: $bg-accent-light;
}
.button .success {
  background-color: $text-success-light;
}
.button .danger {
  background-color: $text-danger-light;
}
.button .warning {
  background-color: $text-warning-light;
}