@use '../../variables' as *;

.header-container {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0;

  h2 {
    font-size: 62px;
  }
  .random-cards {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}
