$text-primary-light: #474848;
$text-secondary-light: #474848;
$text-success-light: #52d241;
$text-danger-light: #f35f4f;
$text-warning-light: #d8ca62;
$bg-primary-light: #f7fbef;
$bg-secondary-light: #d8dad3;
$bg-accent-light: #8bb6e4;

$text-primary-dark: #f7fbef;
$bg-primary-dark: #474848;
$bg-secondary-dark: #343434;
